[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
numba = "*"
matplotlib = "*"

[dev-packages]
bumpversion = "*"
wheel = "*"
watchdog = "*"
"flake8" = "*"
tox = "*"
coverage = "*"
sphinx = "*"
pytest = "*"
pytest-runner = "*"
pylint = "*"
mypy = "*"
pytest-cov = "*"
ipython = "*"
pytest-benchmark = {version = "*", extras = ["histogram"]}
black = "==18.9b0"
pre-commit = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = false
