-i https://pypi.org/simple
alabaster==0.7.12
babel==2.6.0
certifi==2018.11.29
chardet==3.0.4
cycler==0.10.0
docutils==0.14
idna==2.7
imagesize==1.1.0
jinja2==2.10
kiwisolver==1.0.1
llvmlite==0.26.0
markupsafe==1.1.0
matplotlib==3.0.2
numba==0.41.0
numpy==1.15.4
numpydoc==0.8.0
packaging==18.0
pygments==2.3.0
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.7
requests==2.20.1
six==1.11.0
snowballstemmer==1.2.1
sphinx==1.8.2
sphinxcontrib-websupport==1.1.0
urllib3==1.24.1
